.question {
    font-size: 17px;
}

.question button {
    width: 250px;
    margin-bottom: 10px;
    height: 32px;
}

.answered-wrong {
    color: darkred;
    font-size: 17px;
    font-weight: bold;
}
.answered-right {
    color: green;
    font-size: 17px;
    font-weight: bold;
}
.answered-right .incorrect {
    display: none;
}
.answered-wrong .incorrect {
    display: none;
}

.answered-right .correct {
    background-color: lightgreen;
}

.answered-wrong .correct {
    background-color: red;
}