.question {
    font-size: 14px;
}

.answered-wrong {
    color: darkred;
    font-size: 14px;
}
.answered-right {
    color: darkgreen;
    font-size: 14px;
}
.answered-right .incorrect {
    display: none;
}
.answered-wrong .incorrect {
    display: none;
}

.answered-right .correct {
    background-color: lightgreen;
}

.answered-wrong .correct {
    background-color: red;
}